$blue: rgb(3, 145, 244);
$grey: #777777;
$grey2: rgb(158, 158, 158);
$green: rgb(76, 175, 80);
$red: rgb(244, 0, 38);
$redBackground: rgb(244, 22, 0);
$greenBackground: rgb(76, 175, 80);
$bg: rgb(22, 30, 46);
$bg2: #161e2e;
$inputBg: #f5f5f5;
$inputDarkColor: rgb(161, 165, 204);
$inputDarkBg: #303849;
$title: rgb(40, 40, 56);
